exportPattern("^[[:alpha:]]+")
import(nlme)
import(MASS)
import(mvtnorm)
S3method(summary, gofLMM)
S3method(plot, gofLMM)
S3method(print, gofLMM)
export(gof.lmm)
export(summary.gofLMM)
export(plot.gofLMM)
export(print.gofLMM)